The latest release of the `chaostoolkit` is 
<a href="https://github.com/chaostoolkit/chaostoolkit/releases/latest" id="latest">{{latest_version}}</a>.

You can upgrade as follows:

```console
$ pip install -U chaostoolkit
```

Please, read the
<a href="https://github.com/chaostoolkit/chaostoolkit/blob/master/CHANGELOG.md" id="changelog">CHANGELOG</a>
for more information regarding that release.

